<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/tracker?zeroDateTimeBehavior=convertToNull&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;characterSetResults=utf8mb4&amp;connectionCollation=utf8mb4_0900_ai_ci</property>
    <property name="hibernate.connection.username">tracker_web</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.password">SharkBaitHooHaHa</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property><!--  seconds -->
    <property name="hibernate.c3p0.timeout">100</property><!--  seconds -->
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_statements">10</property>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillCode.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillBudget.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillDay.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillEntry.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillExpected.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillMonth.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/BillWorkStatus.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ContactEvent.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/Project.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectActionNext.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectActionTaken.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectAddress.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectArea.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectAreaAssigned.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectBookmark.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectCategory.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectContact.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectContactAssigned.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectContactPosition.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectContactSupervisor.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectNarrative.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/TrackerNarrative.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectNextActionType.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectPhase.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ProjectProvider.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ReportProfile.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/ReportSchedule.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/TrackerKeys.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/WebApiClient.hbm.xml"/>
    <mapping resource="org/openimmunizationsoftware/pt/model/WebUser.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
