<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>Project Tracker</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.HomeServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>HibernateSessionFilter</filter-name>
    <filter-class>org.openimmunizationsoftware.pt.api.common.HibernateSessionFilter</filter-class>
  </filter>
  <servlet>
    <servlet-name>ProjectActionServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectActionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CssServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.CssServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.SettingsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrackServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.TrackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportRunServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportRunServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ReportEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportDefinitionEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportDefinitionEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemplateScheduleServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.TemplateScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoalReviewServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.GoalReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectReviewServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectNarrativeReviewServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectNarrativeReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrackerNarrativeServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.TrackerNarrativeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MobileServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.mobile.servlet.MobileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TodoServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.mobile.servlet.TodoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillEntryEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillEntryEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillEntriesServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillEntriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodeServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillBudgetServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillBudgetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillBudgetsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillBudgetsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodeEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodesServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>org.openimmunizationsoftware.pt.api.v1.resource,org.openimmunizationsoftware.pt.api.common</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <listener>
    <listener-class>org.openimmunizationsoftware.pt.api.v1.resource.OpenApiBootstrap</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MobileServlet</servlet-name>
    <url-pattern>/m/mobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoServlet</servlet-name>
    <url-pattern>/m/todo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectActionServlet</servlet-name>
    <url-pattern>/ProjectActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CssServlet</servlet-name>
    <url-pattern>/CssServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportRunServlet</servlet-name>
    <url-pattern>/ReportRunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportEditServlet</servlet-name>
    <url-pattern>/ReportEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportDefinitionEditServlet</servlet-name>
    <url-pattern>/ReportDefinitionEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/SettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/TrackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectsServlet</servlet-name>
    <url-pattern>/ProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemplateScheduleServlet</servlet-name>
    <url-pattern>/TemplateScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoalReviewServlet</servlet-name>
    <url-pattern>/GoalReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectEditServlet</servlet-name>
    <url-pattern>/ProjectEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectReviewServlet</servlet-name>
    <url-pattern>/ProjectReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactServlet</servlet-name>
    <url-pattern>/ProjectContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactsServlet</servlet-name>
    <url-pattern>/ProjectContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectNarrativeReviewServlet</servlet-name>
    <url-pattern>/ProjectNarrativeReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackerNarrativeServlet</servlet-name>
    <url-pattern>/TrackerNarrativeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackerNarrativeServlet</servlet-name>
    <url-pattern>/trackerNarrative</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactEditServlet</servlet-name>
    <url-pattern>/ProjectContactEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillEntryEditServlet</servlet-name>
    <url-pattern>/BillEntryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillEntriesServlet</servlet-name>
    <url-pattern>/BillEntriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodeServlet</servlet-name>
    <url-pattern>/BillCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillBudgetServlet</servlet-name>
    <url-pattern>/BillBudgetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillBudgetsServlet</servlet-name>
    <url-pattern>/BillBudgetsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodeEditServlet</servlet-name>
    <url-pattern>/BillCodeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodesServlet</servlet-name>
    <url-pattern>/BillCodesServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>HibernateSessionFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>

</web-app>
