<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>Project Tracker</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CssServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.CssServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.SettingsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrackServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.TrackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportRunServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportRunServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ReportEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportDefinitionEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ReportDefinitionEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectGoalScheduleServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectGoalScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectReviewServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectContactUploadServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.ProjectContactUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillEntryEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillEntryEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillEntriesServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillEntriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodeServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillBudgetServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillBudgetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillBudgetsServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillBudgetsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodeEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodeEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillCodesServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BillCodesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BudgetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetTransRecordServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BudgetTransRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetBalanceServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BudgetBalanceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetAccountEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BudgetAccountEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BudgetItemEditServlet</servlet-name>
    <servlet-class>org.openimmunizationsoftware.pt.servlet.BudgetItemEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CssServlet</servlet-name>
    <url-pattern>/CssServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportRunServlet</servlet-name>
    <url-pattern>/ReportRunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportEditServlet</servlet-name>
    <url-pattern>/ReportEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportDefinitionEditServlet</servlet-name>
    <url-pattern>/ReportDefinitionEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/SettingsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/TrackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectsServlet</servlet-name>
    <url-pattern>/ProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectGoalScheduleServlet</servlet-name>
    <url-pattern>/ProjectGoalScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectEditServlet</servlet-name>
    <url-pattern>/ProjectEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectReviewServlet</servlet-name>
    <url-pattern>/ProjectReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactServlet</servlet-name>
    <url-pattern>/ProjectContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactsServlet</servlet-name>
    <url-pattern>/ProjectContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactEditServlet</servlet-name>
    <url-pattern>/ProjectContactEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectContactUploadServlet</servlet-name>
    <url-pattern>/ProjectContactUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillEntryEditServlet</servlet-name>
    <url-pattern>/BillEntryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillEntriesServlet</servlet-name>
    <url-pattern>/BillEntriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodeServlet</servlet-name>
    <url-pattern>/BillCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillBudgetServlet</servlet-name>
    <url-pattern>/BillBudgetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillBudgetsServlet</servlet-name>
    <url-pattern>/BillBudgetsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodeEditServlet</servlet-name>
    <url-pattern>/BillCodeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillCodesServlet</servlet-name>
    <url-pattern>/BillCodesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetServlet</servlet-name>
    <url-pattern>/BudgetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetTransRecordServlet</servlet-name>
    <url-pattern>/BudgetTransRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetBalanceServlet</servlet-name>
    <url-pattern>/BudgetBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetAccountEditServlet</servlet-name>
    <url-pattern>/BudgetAccountEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BudgetItemEditServlet</servlet-name>
    <url-pattern>/BudgetItemEditServlet</url-pattern>
  </servlet-mapping>
  <!-- There are three means to configure Wickets configuration mode and they are tested in the order given. 1) A system property: -Dwicket.configuration 
    2) servlet specific <init-param> 3) context specific <context-param> The value might be either "development" (reloading when templates change) or "deployment". 
    If no configuration is found, "development" is the default. -->

  <filter>
    <filter-name>wicket.tester</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.openimmunizationsoftware.pt.WicketApplication</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>wicket.tester</filter-name>
    <url-pattern>/ui/*</url-pattern>
  </filter-mapping>

</web-app>
